<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>image Classifier</title>
</head>
<body>
	
	<header >Image Classifier</header>
	
	<img src="../image/36311877-simple-images.jpg" alt="not yet" id="img">
	
	<h2 id="prediction">Prediction</h2>
	<div id="container">
		<input type='file' name ="image" id="imageUpload" />
		<br>
		<button id='button_Classify'>Classify</button>
	</div>

	
	


	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/main.js"></script>
</body>
</html>